[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
my-package = {editable = true, path = "./my_package"}

[dev-packages]
black = "==19.10b0"
flake8 = "~=3.7.9"
ipython = "~=7.16.3"
isort = "~=4.3.21"
mypy = "~=0.740"
pytest = "~=5.2.4"
pytest-cov = "~=2.8.1"
pytest-mock = "~=1.12"
pytest-xdist = "~=1.30.0"
typing-extensions = "~=3.7.4"
vulture = "~=1.1"

[requires]
python_version = "3.7"